.draghandle.dragged
{
    border-left: 1px solid #333;
}

.draghandle
{
    position: absolute;
    z-index:5;
    width:5px;
    cursor:e-resize;
}
TH
{
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
}