@import java.util
@import helper._
@import play.api.data
@import play.api.libs.functional.syntax.toMonoidOps
@(currentPage: com.avaje.ebean.PagedList[DeviceInfo], currentSortBy: String, currentOrder: String, currentFilter: String,
        deviceTokenForm: Form[controllers.Dashboard.DeviceTokenForm], tokenMap: Map[DeviceInfo.DeviceTypeToken, Boolean])
@****************************************
* Helper generating navigation links *
****************************************@
@link(newPage: Int, newSortBy: String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    controllers.routes.Dashboard.listTokens(newPage, sortBy, order, currentFilter)
}
    @**********************************
    * Helper generating table headers *
    ***********************************@
@header(key: String, title: String) = {
    <th class="@key.replace(".", "_") header @if(currentSortBy == key) @{
        if(currentOrder == "asc") "headerSortDown" else "headerSortUp"
    }">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {

    <h1 id="homeTitle">@Messages("token.list.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }
    @if(flash.containsKey("failure")) {
        <div class="alert-message warning">
            <strong>Failed!</strong> @flash.get("failure")
        </div>
    }

    <div id="actions">

        <form action="@link(0, "id")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by device name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        </form>

        @*
        <a class="btn success" id="add" href="@routes.Dashboard.createPush()">Create Push Notification</a>
        *@

    </div>

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        @form(routes.Dashboard.createPush(), 'class -> "form-horizontal") {
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <button id="submit" type="submit" value="Submit" class="btn success">Submit</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table zebra-striped computers" id="device-tokens">
                    <thead>
                        <tr>
                            <th class="selectAll header">
                                <a href="#">
                                @select(deviceTokenForm("selected"), options("selectAll" -> "All", "android" -> "Android", "ios" -> "Ios"), '_label -> "", '_default -> "", '_onClick -> "toggle(this)")
                                </a>
                            </th>
                            @header("username", "User Name")
                            @header("role", "Role")
                            @header("deviceType", "Device")
                            @header("deviceToken", "Token")
                            @header("createdon", "Created on")
                        </tr>
                    </thead>
                    <tbody>

                    @for(computer <- currentPage.getList) {
                        <tr>
                            <td>@checkboxes(deviceTokenForm("device_tokens"),
                                label = "",
                                checkboxMap = tokenMap,
                                help = "Check zero or more tokens. (optional)",
                                devicetoken = computer.deviceToken)
                            </td>

                            <td><a href="">@computer.username</a></td>

                            <td>@computer.role</td>

                            <td>@computer.deviceType</td>

                            <td>@computer.deviceToken</td>

                            <td>@computer.createdon</td>

                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        }
        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to ", " of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }

}
